# System & Tools
.antigravitycli/
.DS_Store
Thumbs.db
*.log

# Dependencies & Build
node_modules/
.next/
out/
build/
dist/
.env*.local

# Editor Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# InsForge & AI agent skills
.insforge
.agent
.agents
.augment
.claude
.cline
.github/copilot*
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf
