@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #CC5A37;
  --color-secondary: #E5954B;
  --font-sans: var(--font-plus-jakarta);
  --font-serif: var(--font-lora);
}

